data/*
wrong-data/*
wrong-figures/*
venv/*
saturated-data/*
fit-measurement/*
leader-crash-measurement/*
leader-straggler-measurement/*
bftsmart-performance/*
bftsmart-saturation/*
bftsmart-temp-performance/*
etcd-experiments/*
final-measurements/*